body{
    transition: -webkit-transform 0.8s ease; -webkit-transition: -webkit-transform 0.8s ease;
}
.slides{
    width: 960px; height: 700px; zoom: 0.849857142857143;
}
.past{
    top: -223px; display: block;
}